.static-cursor
    font-weight bold
    margin-left 5px

.blinking-cursor
    display inline-block
    margin-left 5px
    animation blink 1.5s ease-in-out infinite
    font-weight bold

@keyframes blink
    0%, 100%
        opacity 1
    50%
        opacity 0