// COLORS
main = #2f3586;
mainHover = #2427a9;
hover = darken(main, 50%)
mainLight = #527199
sec  = #FFFFFF
lightGray = #F2F2F2
texts = #333333
colorcode = #615576
blackBase =  #2f2f33
neotree = #2f2f33
// Resolution
cut = 37.5rem